.cards__mainWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
}

.cards__container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cards__graphWrapper {
  position: fixed;
  right: 0;
  top: 0;
  grid-column: 2 / 3;
  height: 600px;
}

.cards__title {
  text-align: center;
  font-family: 'New_Amsterdam', sans-serif;
  font-size: 100px;
  grid-column: 1 / 2;
}

.cards__subTitle {
  text-align: center;
  font-family: 'New_Amsterdam', sans-serif;
  font-size: 32px;
  grid-column: 1 / 2;
}

.cards__filterInput {
  height: 40px;
  width: 60%;
  grid-column: 1 / 2;
  font-size: 18px;
  margin: 24px 0;
}

.cards__header {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'New_Amsterdam', sans-serif;
}