.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 340px;
  border-radius: 12px;
  background-color: white;
  padding: 12px;
  margin: 12px;
}

.random-gradient {
  background: linear-gradient(45deg, rgb(131, 39, 223), rgb(76, 123, 210), rgb(41, 154, 113));
}

.card__title {
  color: black;
  font-family: 'New_Amsterdam', sans-serif;
  font-size: 28px;
  /* z-index: 1; */
  text-align: center;
  margin: 8px;
  padding: 0 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.card__descriptionContainer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0 4px 4px 4px;
}

.card__titleContainer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0 4px 4px 4px;
}

.card__description {
  color: black;
  font-family: 'Comic_Neue_bold', sans-serif;
  font-size: 12px;
  margin: 0;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
}

.card__imageContainer {
  max-width: 200px;
  height: 320px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  z-index: 0;
}

.card__image {
  /* position: relative; */
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}